<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/about/' | relative_url }}">About</a></li>
	<li><a href="{{ '/consortium/' | relative_url }}">Consortium</a></li>
	<li><a href="{{ '/jobs/' | relative_url }}">Jobs</a></li>
        <li><a href="{{ '/publications/' | relative_url }}">Publications</a></li>
        <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <table>
    <tr>
	  <td width="20%"><img src="/images/logo_AGAPE-cropwhite.png" width="100%" alt="AGAPE logo"></td>
	    <td></td>
	  <td><h1 align="left">discover<span style="color: #009e85;">A</span>bility and investi<span style="color: #26B260;">G</span>ation in sp<span style="color: #26B260;">A</span>tial iconogra<span style="color: #26B260;">P</span>hic h<span style="color: #26B260;">E</span>ritage</h1></td>
    </tr>
    </table>
    
    {{ content }}
  </main>
</body>
</html>
