<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.4">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/about/' | relative_url }}">About</a></li>
        <li><a href="{{ '/publications/' | relative_url }}">Publications</a></li>
        <li><a href="{{ '/jobs/' | relative_url }}">Jobs</a></li>
        <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <table>
    <tr>
	  <td width="20%"><img src="/images/logo_AGAPE-cropwhite.png" width="100%" alt="AGAPE logo"></td>
	  <td><h1 align="left">AGAPE</h1><h2 align="left">discoverAbility and investiGation in spAtial iconograPhic hEritage</h2>
    </td>
    </tr>
    </table>
    
    {{ content }}
  </main>
</body>
</html>
